@import "tailwindcss";

body{
    color: white;
    background-color: #000000;
    font-family: outfit-fallback;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis {
    height: 100%;
}



@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
  