@import "tailwindcss";

body{
    color: white;
    background-color: #000000;
    font-family: outfit-fallback;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis {
    height: 100%;
}